.h6__06-filters {
  position: relative;

  &__text {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 3rem;
    margin-top: 3rem;
    text-align: center;
    color: var(--color-txt-white);
    z-index: 2;

    & h3 {
      @include H6-h3;
    }

    & p {
      @include H6-paragraph;
    }
  }

  &__images {
    position: relative;
    height: 81rem;
    overflow: hidden;

    &__machine {
      transition: opacity .5s;

      & img {
        display: block;
        height: 100%;
        width: auto;
        position: absolute;
        left: -25%;
      }

      &--1,
      &--2,
      &--3,
      &--4,
      &--5 {
        opacity: 0;
      }
    }
  }

  &__indicators {
    position: absolute;
    top: 30%;
    left: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__indicator {
      height: 5rem;
      color: var(--color-txt-white);
      z-index: 2;
      position: relative;

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        height: 2px;
        background-color: #878787;
      }

      &--1 {

        &::before {
          --size: 20rem;
          width: var(--size);
          left: calc((var(--size) + 2rem)*-1);
        }
      }

      &--2 {
        margin-bottom: 7rem;

        &::before {
          --size: 17rem;
          width: var(--size);
          left: calc((var(--size) + 2rem)*-1);
        }
      }

      &--3 {
        margin-bottom: 7rem;

        &::before {
          --size: 15rem;
          width: var(--size);
          left: calc((var(--size) + 2rem)*-1);
        }
      }

      &--4 {
        margin-bottom: 3rem;

        &::before {
          --size: 12rem;
          width: var(--size);
          left: calc((var(--size) + 2rem)*-1);
        }
      }

      &--5 {
        margin-bottom: 3rem;

        &::before {
          --size: 10rem;
          width: var(--size);
          left: calc((var(--size) + 2rem)*-1);
        }
      }

      &__btn {
        display: flex;

        &:hover > &__digit {
          background-color: var(--color-reddish);
          border-color: var(--color-reddish);
        }

        &:hover > &__text p {
          display: inline;
        }

        &--2:hover .h6__06-filters__images__machine--2 img {
          opacity: 1 !important;
        }

        &__digit {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          width: 4rem;
          height: 4rem;
          font-size: 2.4rem;
          margin-right: 2rem;
          border: 1px solid var(--color-txt-white);
          border-radius: 50%;
        }

        &__text {
          display: inline-block;
          width: 24rem;
          flex-shrink: 1;

          & h6 {
            font-size: 1.6rem;
            line-height: 4rem;
          }

          & p {
            font-size: 1.4rem;
            font-weight: 300;
            display: none;
          }
        }
      }
    }
  }
}

.opacity1 {
  opacity: 1;
}