.h6__02-video {
  font-size: 0;
  background-color: var(--color-black);

  &__content {
    display: none;
    width: 100%;
    height: auto;

    &--small {
      @media only screen and (max-width: $bp-small) {
        display: block;
      }
    }
  
    &--large {
      @media only screen and (min-width: 601px) {
        display: block;
      }
    }
  }
}